*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; /*para os inputs não ultrapassarem a area maxima da Div que estão */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html, body, #root{

  background-color: #e7d5e4c7;
  height: 100%;


}